<!DOCTYPE html>
<html>
    <head>
        <title>blogLife</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Danielle and Kay's Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Why Python?</a></h2>
            <p>In the ever-evolving world of web development, 
                choosing the right tools and technologies can make a significant difference 
                in your career. Python and Django have emerged as powerful allies for developers, 
                offering numerous benefits that make them worth learning. Here’s why you should consider 
                diving in.
                Python is renowned for its simplicity and readability, making it an excellent choice for 
                beginners and experienced developers alike. Its clean syntax allows you to focus on solving 
                problems rather than getting bogged down by complex code structures. Django, built on Python, 
                inherits this ease of use, enabling rapid development with minimal code.</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Why Django?</a></h2>
            <p>
                Django takes security seriously and includes features to help developers avoid common security pitfalls.
                It provides protection against SQL injection, cross-site scripting (XSS), cross-site request forgery (CSRF), and other common attacks.
            </p>
        </article>
    </body>
</html>